<nav class="navbar py-4", style="background-color:rgb(255, 184, 51)">
  <div class="container position-relative">
    <%= link_to root_path, class: "navbar-brand position-absolute fs-4 fw-bold start-50 translate-middle-x" do %>
      jubilee2025.com <i class="fa-solid fa-hands-holding"></i>
    <% end %>
    <div class="position-absolute end-0">
      <a class="fs-3 text-dark"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
  </div>
</nav>