<nav class="navbar navbar-light bg-light py-4">
  <div class="container position-relative">
    <%= link_to "JUBILEE", root_path, class: "navbar-brand position-absolute start-50 translate-middle-x" %>
    <div class="position-absolute end-0">
      <a>🛒</a>
    </div>
  </div>
</nav>