<div class="banner mb-4" style="height:33vh; background:url('https://tripswithrosie.com/wp-content/uploads/2023/01/Rome-Highlights-at-Sunrise-14.jpeg') center center / cover no-repeat;">
</div>
<div class="container">
  <div class="index-title ps-2 pb-4 fw-bolder">Available Tours</div>
  <% @offers.each_slice(3) do |group| %>
    <div class="row">
      <% group.each do |offer| %>
        <div class="col-md-4 mb-4">
          <%= render partial: "offers/offer_card", locals: { offer: offer } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="row mb-5 mt-5">
    <div class="col-6">
      <div class="index-title fw-bolder ps-2">About the 2025 Jubilee</div>
      <p class="ps-2 pe-3">The 2025 Vatican Jubilee, also known as the Holy Year, is a significant event in the Catholic Church, celebrated every 25 years. It began on December 24, 2024, with Pope Francis opening the Holy Door at St. Peter's Basilica, symbolizing a passage to salvation. The theme for this Jubilee is "Pilgrims of Hope," encouraging the faithful to renew their faith and embrace hope. Throughout the year, millions of pilgrims are expected to visit Rome to participate in various religious events, seek spiritual renewal, and pass through the Holy Doors of the major basilicas. The Jubilee will conclude on January 6, 2026, with the closing of the Holy Door at St. Peter's Basilica.</p>
    </div>
    <div class="col-6">
      <div style="height: 300px; border-radius: 1.3rem; background:url('https://tripswithrosie.com/wp-content/uploads/2023/01/Rome-Highlights-at-Sunrise-14.jpeg') center center / cover no-repeat;">
        <!-- Add content for the right column here -->
      </div>
    </div>
  </div>
</div>