$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "bootstrap-datepicker/dist/css/bootstrap-datepicker";

// Your custom imports
@import "offer_card";
@import "titles";
@import "cart_offer_card";
@import "boxes";

body {
    background: #FFF3DD;
    font-family: 'Open Sans', sans-serif;
}